// NAVBAR Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #navbar{
        height: 65px;
      nav{ 
          position: relative;
          button{
              position: absolute;
              position: absolute;
              z-index: 2222;
              top: 20%;
              right: 4%;
              background: white;
          }
          .navbar-collapse{
              ul{
                background: black;
                padding: 1%;
                margin-top: 2%;
                padding-bottom: 15%;
                  li{
                      a{
                        color: white;
                        padding-top: 4%;
                      }
                      &:nth-child(1){
                        margin-left: 4%;
                    }
                    &:hover{
                        padding-bottom: 4%;
                    }
                    &::before{
                        opacity: 0;
                    }
                    &::after{
                        opacity: 0;
                    }
                    &:hover:before{
                        opacity: 0;
                    }
                    &:hover:after{
                        opacity: 0;
                    }
                    &:hover{
                        margin-left: 0%;
                    }
                  }
              }
          }
      } 
    }
}
@media only screen and (min-width:360px) and (max-width:767px){
    #navbar{
      nav{ 
        .navbar-collapse{
            ul{
                margin-top: 0%;
            }
        }
      } 
    }
}
@media only screen and (min-width:375px) and (max-width:409px){
    #navbar{
      nav{ 
        a{
            img{
                width: 31%;
            }
        }
      } 
    }
}
@media only screen and (min-width:410px) and (max-width:1023px){
    #navbar{
      nav{ 
        a{
            img{
                width: 25%;
            }
        }
      } 
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #navbar{
        height: 65px;
      nav{ 
          position: relative;
          button{
              position: absolute;
              position: absolute;
              z-index: 2222;
              top: 20%;
              right: 4%;
              background: white;
          }
          .navbar-collapse{
              ul{
                background: black;
                padding: 1%;
                margin-top: 0%;
                padding-bottom: 15%;
                text-align: center;
                  li{
                      a{
                        color: white;
                        padding-top: 4%;
                      }
                      &:nth-child(1){
                        margin-left: 4%;
                    }
                    &:hover{
                        padding-bottom: 4%;
                    }
                    &::before{
                        opacity: 0;
                    }
                    &::after{
                        opacity: 0;
                    }
                    &:hover:before{
                        opacity: 0;
                    }
                    &:hover:after{
                        opacity: 0;
                    }
                    &:hover{
                        margin-left: 0%;
                    }
                  }
              }
          }
      } 
    }
}
@media only screen and (min-width:1023px) and (max-width:1200px){
    #navbar{
      nav{ 
          .navbar-collapse{
              ul{
             
                  li{
                      a{
                          font-size: 1ch;
                          padding-left: 0%;
                      }
                  }
              }
          }
      } 
    }
}
// NAVBAR Responsive - END

// HeaderCarousel Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #headerCarousel{
    padding-top: 32%;
        .container-fluid{
            .row{
                .col-md-12{
                    .borderContent{
                        font-size: 0.2ch;
                        h1{
                            font-size: 3ch;
                            .awesome{
                               right: 31%;
                               padding-left: 6%;
                               padding-right: 6%;
                            }
                        }
                        &:hover:before{
                            height: 65px;
                        }
                        &:hover:after{
                            height: 65px;
                        }
                    }
                    .buttons{
                       
                        .leftButton{
                            font-size: 1ch;
                            &:before{
                                height: 30px;
                            }
                        }
                        .rightButton{
                            font-size: 1ch;
                            &:before{
                                height: 30px;
                            }
                            &:hover:before{
                                height: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:767px){
    #headerCarousel{
        .container-fluid{
            .row{
                .col-md-12{
                    .borderContent{
                        h1{
                            .awesome{
                                right: 30%;
                                padding-left: 8%;
                                padding-right: 8%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:410px) and (max-width:767px){
    #headerCarousel{
        .container-fluid{
            .row{
                .col-md-12{
                    .borderContent{
                        h1{
                            .awesome{
                                padding-left: 10%;
                                padding-right: 10%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #headerCarousel{
        .container-fluid{
            .row{
                .col-md-12{
                    .borderContent{
                        h1{
                            font-size: 3ch;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    #headerCarousel{
        .container-fluid{
            .row{
                .col-md-12{
                    .borderContent{
                        h1{
                            font-size: 4ch;
                        }
                        &:hover:before{
                            height: 195px;
                        }
                        &:hover:after{
                            height: 195px;
                        }
                    }
                }
            }
        }
    }
}
// HeaderCarousel Responsive - END

// About Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #about{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-4{
                    &:hover .firstCard .icon:after{
                        height: 140px;
                    }
                    &:hover .firstCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                    &:hover .secondCard .icon:after{
                        height: 140px;
                    }
                    &:hover .secondCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                    &:hover .thirdCard .icon:after{
                        height: 140px;
                    }
                    &:hover .thirdCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                }
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:767px){
    #about{
        .container{
            .row{
                .col-md-4{
                    &:hover .firstCard .icon:after{
                        height: 150px;
                    }
                    &:hover .firstCard .icon .fontAwesomeIcon:before{
                        height: 150px;
                    } 
                    &:hover .secondCard .icon:after{
                        height: 150px;
                    }
                    &:hover .secondCard .icon .fontAwesomeIcon:before{
                        height: 150px;
                    } 
                    &:hover .thirdCard .icon:after{
                        height: 150px;
                    }
                    &:hover .thirdCard .icon .fontAwesomeIcon:before{
                        height: 150px;
                    } 
                }
            }
        }
    }
}
@media only screen and (min-width:411px) and (max-width:767px){
    #about{
        .container{
            .row{
                .col-md-4{
                    &:hover .firstCard .icon:after{
                        height: 160px;
                    }
                    &:hover .firstCard .icon .fontAwesomeIcon:before{
                        height: 160px;
                    } 
                    &:hover .secondCard .icon:after{
                        height: 160px;
                    }
                    &:hover .secondCard .icon .fontAwesomeIcon:before{
                        height: 160px;
                    } 
                    &:hover .thirdCard .icon:after{
                        height: 160px;
                    }
                    &:hover .thirdCard .icon .fontAwesomeIcon:before{
                        height: 160px;
                    } 
                }
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    #about{
        .container{
            .row{
                .col-md-4{
                    &:hover .firstCard .icon:after{
                        height: 140px;
                    }
                    &:hover .firstCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                    &:hover .secondCard .icon:after{
                        height: 140px;
                    }
                    &:hover .secondCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                    &:hover .thirdCard .icon:after{
                        height: 140px;
                    }
                    &:hover .thirdCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #about{
        .container{
            .row{
                .col-md-4{
                    &:hover .firstCard .icon:after{
                        height: 140px;
                    }
                    &:hover .firstCard .icon .fontAwesomeIcon:before{
                        height: 140px;
                    } 
                    &:hover .secondCard .icon:after{
                        height: 120px;
                    }
                    &:hover .secondCard .icon .fontAwesomeIcon:before{
                        height: 120px;
                    } 
                    &:hover .thirdCard .icon:after{
                        height: 120px;
                    }
                    &:hover .thirdCard .icon .fontAwesomeIcon:before{
                        height: 120px;
                    } 
                }
            }
        }
    }
}
// About Responsive - END

// Service Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #service{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-4{
                    .serviceDiv{
                        .row{
                            .col-md-7{
                                .content{
                                    padding: 2%;
                                    text-align: center;
                                    margin: 0 auto;
                                    h1{
                                        &::before{
                                            left: 10%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }    
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #service{
        .container{
            .row{
                .col-md-4{
                    .serviceDiv{
                        .row{
                            .col-md-7{
                                .content{
                                    h1{
                                       font-size: 1.4ch;
                                    }
                                }
                            }
                        }
                    }
                }    
            }
        }
    }
}
// Service Responsive - END

// Portfolio Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #portfolio{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-3{
                    .main{
                        margin-top: -15%;
                    }
                    .firstMain{
                        margin-top: 0%;
                    }
                }
            }
            .secondRow{
                .col-md-3{
                    .main{
                        margin-left: 0%;
                    }
                }
            }  
        }
    }
}
@media only screen and (min-width:360px) and (max-width:767px){
    #portfolio{
       .container{
         .row{
            .col-md-3{
              .main:hover{
                .hoveredDiv{
                    h3{
                        padding-top: 27%;
                    }
                } 
              }  
            }
         }  
       } 
    }      
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #portfolio{
        .container{
          .row{
            .col-md-3{
               .main{
                margin-top: 23%;
                width: 117%;
                &:hover .hoveredDiv h3{
                    padding-top: 64%;
                    font-size: 1.4ch;
                }
               } 
            } 
          }  
          .secondRow{
              .col-md-3{
                  .main{
                    width: 117%;
                    margin-left: -61%;
                    margin-top: -38%;
                  }
              }
          }
          .thirdRow{
            margin-top: -13%;
          }
        }
    }        
}
// Portfolio Responsive - END

// Features Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #features{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-4{
                    .ipad{
                        margin: 8% 0%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #features{
        .container{
            .row{
                .col-md-4{
                    .ipad{
                        height: 296px;
                        margin-top: 41%;
                    }
                }
            }
        }
    } 
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    #features{
        .container{
            .row{
                .col-md-4{
                    .ipad{
                        height: 467px;
                    }
                }
            }
        }
    } 
}
// Features Responsive - END

// Pricing Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #pricing{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:410x){
    #pricing{
        .container{
            .row{
                .col-md-3{
                    .main{
                        .row{
                            .col-md-12{
                                .button{
                                    button::before{
                                        height: 55px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}
@media only screen and (min-width:411px) and (max-width:767px){
    #pricing{
        .container{
            .row{
                .col-md-3{
                    .main{
                        .row{
                            .col-md-12{
                                .button{
                                    button::before{
                                        height: 60px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }  
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #pricing{
       .container{
           .row{
               .col-md-3{
                   .main{
                       .row{
                           .col-md-12{
                               .pricingDiv{
                                   span{
                                    font-size: 6ch;
                                   }
                               }
                               .firstContent, .secondContent, .thirdContent, .fourthContent{
                                   h1{
                                    font-size: 1.2ch;
                                   }
                               }
                               .button{
                                    button::before{
                                        height: 38px;
                                    }
                               }
                           }
                           .thirdPrice{
                            max-width: 95%;
                           }
                       }
                   }
                   .main1{
                       h1{
                        font-size: 1.4ch;
                       }
                   }
               }
           }
       } 
    }  
}
// Pricing Responsive - END

// Team Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #team{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    margin-top: 9.5%;
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:374px){
    #team{
        .container{
            .row{
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    margin-top: 23%;
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
@media only screen and (min-width:375px) and (max-width:410px){
    #team{
        .container{
            .row{
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    margin-top: 28%;
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
@media only screen and (min-width:411px) and (max-width:767px){
    #team{
        .container{
            .row{
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    margin-top: 41%;
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1200px){
    #team{
        .container{
            .row{
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    margin-top: 21%;
                                    padding: 0%;
                                    .fontAwesomeIcon{
                                        i{
                                           font-size: 1.4ch; 
                                        }
                                        &::before{
                                            top: -2%;
                                            left: -1%;
                                        }  
                                        &::after{
                                            top: -2%;
                                            right: -3%;
                                        }  
                                    }
                                    &::after{
                                        right: -2%;
                                    }
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    #team{
        .container{
            .row{
                .col-md-4{
                    .teamCol{
                        .myPhoto{
                             .iconsDiv{
                                 .icon{
                                    .fontAwesomeIcon{
                                        i{
                                           font-size: 2.3ch;    
                                        }
                                    }
                                 }
                             }
                        }
                    }
                } 
            }
        }
    }
}
// Team Responsive - END

// Blog Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #blog{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                           width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                }
                .col-md-4{
                    .blogCol{
                        .row{
                            .col-md-5{
                                .button{
                                    button{
                                        &::before{
                                            left: 5%;
                                            height: 50px;
                                        } 
                                        &:hover:before{
                                            width: 91%;
                                        }  
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:410px){
    #blog{
        .container{
            .row{
                .col-md-4{
                    .blogCol{
                        .row{
                            .col-md-5{
                                .button{
                                    button{
                                        &::before{
                                            left: 5%;
                                            height: 54px;
                                        } 
                                        &:hover:before{
                                            width: 91%;
                                        }  
                                    }
                                    
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:411px) and (max-width:767px){
    #blog{
        .container{
            .row{
                .col-md-4{
                    .blogCol{
                        .row{
                            .col-md-5{
                                .button{
                                    button{
                                        &::before{
                                            height: 59px;
                                        } 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1200px){
    #blog{
        .container{
            .row{
                .col-md-4{
                    .blogCol{
                        .row{
                            .col-md-5{
                                .button{
                                    font-size: 1ch;
                                    button{
                                        padding-left: 9%;
                                        padding-right: 9%;
                                        &::before{
                                            height: 24px;
                                        } 
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
// Blog Responsive - END

// Testimonilas Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #testimonials{
        .container{
            .row{
                .col-md-12{
                    .owl-carousel{
                        .item{
                            img{
                                height: 92px;
                                width: 34%;
                            }
                        }
                    }
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 3ch;
                            }
                        }
                        .bike{
                            width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        left: 70%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:360px) and (max-width:1023px){
    #testimonials{
        .container{
            .row{
                .col-md-12{
                    .owl-carousel{
                        .item{
                            img{
                                height: 98px;
                                width: 34%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:411px) and (max-width:1023px){
    #testimonials{
        .container{
            .row{
                .col-md-12{
                    .owl-carousel{
                        .item{
                            img{
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #testimonials{
        .container{
            .row{
                .col-md-12{
                    .owl-carousel{
                        .item{
                            img{
                                width: 19%;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Testimonilas Responsive - END

// Contact Responsive - START
@media only screen and (min-width:320px) and (max-width:767px){
    #contact{
        .container{
            .row{
                .col-md-12{
                    .upper{
                        .headerContent{
                            h1{
                                font-size: 4ch;
                            }
                        }
                        .bike{
                            width: 31%;
                            &::after{
                                font-size: 2ch;
                                left: 63%;
                            }
                        }
                        &:hover .bike{
                            width: 60%;
                        }
                        &:hover .bike:after{
                            left: 70%;
                        }
                    }
                    .subscirebe{
                       h1 {
                           font-size: 2ch;
                       }
                       .send{
                           input:nth-child(2){
                            width: 45%;
                            font-size: 1.4ch;
                           }
                       } 
                    } 
                }
                .col-md-4{
                    .iconsInfo{
                        .hoverEffect{
                            margin: 0 auto;
                        }
                        p{
                            text-align: center;
                        }
                    } 
                } 
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #contact{
        .container{
            .row{
                .col-md-4{
                    .iconsInfo{
                        .hoverEffect{
                            &:hover:before{
                                height: 42px;
                            }
                            &:hover  .line:after{
                                height: 42px;
                            }
                        }
                    } 
                } 
            }
        }
    }
}
// Contact Responsive - END

// Footer Responsive - START
@media only screen and (min-width:320px) and (max-width:1200px){
    #footer{
       .row{
            margin-right: 0px;
            margin-left: 0px; 
       }
    }    
}
@media only screen and (min-width:320px) and (max-width:767px){
    #footer{
       .row{
        .col-md-12{
            .blackSide{
                ul{
                    li{
                        width: 16%;
                        &:nth-child(1){
                            margin-left: -11%!important;
                        }
                    }
                }
            }
        }
       }
    }    
}
@media only screen and (min-width:360px) and (max-width:767px){
    #footer{
       .row{
        .col-md-12{
            .blackSide{
                ul{
                    li{
                        width: 15%;
                    }
                }
            }
        }
       }
    }    
}
@media only screen and (min-width:411px) and (max-width:767px){
    #footer{
       .row{
        .col-md-12{
            .blackSide{
                ul{
                    li{
                        width: 13%;
                    }
                }
            }
        }
       }
    }    
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #footer{
       .row{
        .col-md-12{
            .blackSide{
                ul{
                    li{
                        width: 6%;
                    }
                }
            }
        }
       }
    }    
}
@media only screen and (min-width:1024px) and (max-width:1200px){
    #footer{
       .row{
        .col-md-12{
            .blackSide{
                ul{
                    li{
                        width: 5%;
                    }
                }
            }
        }
       }
    }    
}
// Footer Responsive - END

// UP Responsive - END
@media only screen and (min-width:320px) and (max-width:767px){
    #up{
        width: 8.5%; 
    }  
}
@media only screen and (min-width:768px) and (max-width:1023px){
    #up{
        width: 4.5%; 
    }  
}
@media only screen and (min-width:1023px) and (max-width:1200px){
    #up{
        width: 3.5%; 
    }  
}
// UP Responsive - END

